@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --font: "Space Grotesk"; 
    --blue: #3778FA;
    --black: #222222;
}

body{
    background-color: white;
    font-family: var(--font);
}

#menu-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: var(--blue);
}

main{
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

#hero-text-content h1, #learn-more-footer h1{
    margin-top: 3rem;
    font-size: 2.75rem;
}

#hero-text-content h4{
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    font-weight: 450;
    font-size: 0.90rem;
}

#hero-mobile-content{
    background-color: var(--black);
    border-radius: 20px;
    padding-bottom: 1.5rem;
}

#hero-mobile-content img{
    margin-top: -3rem;
}

#help-content{
    margin-top: 7rem;
}

#help-content h1{
    margin-bottom: 2.5rem;
}

#help-content img{
    margin-bottom: 7rem;
}

#faq-content{
    background-color: #F3F3F3;
    border-radius: 20px;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

#faq-area h1{
    margin-bottom: 2.5rem;
}

#question-faq-answered, .question-faq{
    background-color: white;
    color: #222222;
    border-radius: 8px;
    max-width: 90%;
    margin: 0 auto;
}

#faq-content-header{
    margin-bottom: 2rem;
}

.question-faq{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.question-faq i{
    padding-right: 2rem;
}

.question-faq h4{
    padding-left: 1rem;
}

#question-faq-answered{
    display: flex;
    flex-direction: column;
}

#question-faq-answered i{
    padding-right: 2rem;
}

#question-faq-answered p{
    font-size: small;
    color: #65676C;
    text-align: left;
    padding-left: 1rem;
    max-width: 70%;
}

#question-faq-title, .question-faq-answered h4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
}

footer{
    background-color: var(--blue);
    border-radius: 20px;
    color: white;
}

#learn-more-footer{
    width: 90%;
    margin: 0 auto 5rem auto;
}

#learn-more-footer h1{
    padding-bottom: 1rem;
    padding-top: 4rem;
}

#learn-more-footer h4{
    margin-bottom: 2rem;
    font-weight: lighter;
    font-size: 1rem;
}

#learn-more-footer a{
    background-color: white;
    color: black;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 100px;
    text-decoration: none;
    font-weight: bold;
    font-size: small;
}

#divider{
    height: 1px;
    width: 90%;
    margin: 0 auto;
    background-color: white;
}

#footer-talenthive-area{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer-talenthive-area-desc{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

#footer-talenthive-area-desc h3{
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-weight: normal;
    font-size: 1.25rem;
}

#footer-talenthive-area-desc h4{
    width: 45%;
    text-align: left;
    font-weight: lighter;
}

#footer-talenthive-area-list ul{
    margin-top: 4rem;
    list-style: none;
    font-weight: lighter;
}

#footer-talenthive-area-list li{
    margin-top: 1.5rem;
}

#footer-talenthive-area-list{
    font-size: 14px;
}

#second-area-footer{
    display: flex;
    justify-content: space-between;
    margin: 3rem auto;
    width: 90%;
}

#footer-useful-links ul, #footer-empresarial-links ul, #footer-social-links ul{
    list-style: none;
    font-weight: lighter;
}

#footer-useful-links li, #footer-empresarial-links li, #footer-social-links li{
    margin-bottom: 1rem;
    font-size: 14px;
}

#copyrights h4{
    margin-top: 3rem;
    font-weight: lighter;
    font-size: 14px;
}

#talenthive-address h4{
    margin: 1.5rem auto 0 auto;
    text-align: center;
    font-weight: lighter;
    font-size: 14px;
    width: 65%;
}


#another-links h4{
    margin-top: 1.5rem;
    font-weight: lighter;
    font-size: 14px;
    padding-bottom: 2rem;
}

#third-area-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#green-text{
    color: #A0DA7A;
}


@media(min-width: 1024px){
    
}